{% extends 'afatstats/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                {{ title }}
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Top</th>
                    <th scope="col">Player</th>
                    <th scope="col">FATs</th>
                  </tr>
                </thead>
                <tbody>
                    {% for key, value in account_fat_counts.items %}
                    <tr>
                        <th># {{ forloop.counter }}</th>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
