{% extends 'afatstats/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}
    <form method="GET" action="{% url 'afatstats:search' %}">
        <div class="input-group">
            <input type="text" class="form-control" type="search" name="query" placeholder="Search for players or alts.." id="searchInput" style="width: 100%;">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-search"></i>
                    Go!
                </button>
            </span>
        </div>
    </form>
    <br />
    {% if search_results %}
    <div class="panel panel-primary">
        
        <div class="panel-heading">
            <div class="panel-title">
                Results
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 25%;">Result</th>
                    <th style="width: 25%;">Main Character</th>
                    <th style="width: 25%;">Corporation</th>
                    <th style="width: 25%;">FATs</th>
                  </tr>
                </thead>
                <tbody>
                    {% for key, value in search_results.items %}
                    <tr>
                        <td>
                            <img src="https://images.evetech.net/characters/{{ value.1 }}/portrait?size=32">
                            <a href="https://zkillboard.com/character/{{ value.1 }}/" style="text-decoration: none; color: inherit;" target="_blank">
                                {{ value.0 }}
                            </a>
                        </td>
                        <td>
                            <img src="https://images.evetech.net/characters/{{ value.3 }}/portrait?size=32">
                            <a href="https://zkillboard.com/character/{{ value.3 }}/" style="text-decoration: none; color: inherit;" target="_blank">
                            {{ value.2 }}
                            </a>
                        </td>
                        <td>
                            <img src="https://images.evetech.net/corporations/{{ value.5 }}/logo?size=32">
                            <a href="https://zkillboard.com/corporation/{{ value.5 }}/" style="text-decoration: none; color: inherit;" target="_blank">
                            {{ value.4 }}
                            </a>
                        </td>
                        <td>
                            {{ value.6 }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
